.logo {
  display: block;
  margin: auto;
  max-width: 80%;
}

.text-center {
  text-align: center;
}

.m-auto {
  margin: auto;
}

.mt-1 {
  margin-top: 0.2rem;
}

.mt-2 {
  margin-top: 0.4rem;
}

.logo-login {
  width: 50%;
  margin: auto;
  display: block;
}

.content-logo {
  background: #ff0000;
}
