<p class="text-center">Tambien inicia con</p>
<div class="social-content">
  <ion-button shape="round">
    <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
  </ion-button>
  <ion-button shape="round">
    <ion-icon slot="icon-only" name="logo-google"></ion-icon>
  </ion-button>
  <ion-button shape="round">
    <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
  </ion-button>
  <ion-button shape="round">
    <ion-icon slot="icon-only" name="logo-github"></ion-icon>
  </ion-button>
</div>