<ion-content color="primary">
  <div>
    <img class="logo" src="assets/appagar.png" />
    <p class="text-center">Cuida tu economía</p>
  </div>
  <div>
    <ion-button class="logo mt-2" routerLink="/auth/login" expand="block" shape="round" color="light" fill="outline">
      Iniciar
      sesión</ion-button>
    <ion-button class="logo mt-2" routerLink="/auth/register" expand="block" shape="round" color="light" fill="default">
      Registrarse
    </ion-button>
  </div>
  <app-social-banner></app-social-banner>
</ion-content>